<style>
    .result {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 0.5em 10px;
        padding: 0.5em 10px;
        width: 50%;
    }
    .result:before {
        color: #ccc;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    .result p {
        display: inline;
        padding: 0.5em 10px;
    }

    .result h5 {
        margin-top: 5px !important;
        margin-bottom: 3px !important;
        font-size: 15px !important;
        font-weight: bold;
    }
</style>

<%= content_for(:sidebar) do %>
  <div class="whatever" style="width: 200px;">
    <div class="header-inner">
      <h3>Search results</h3>
    </div>

    <div class="expansion-container">
      <% @results.each do |result| %>
        <%= to_sidebar(result) %>
      <% end %>
    </div>
  </div>
<% end %>
  <div class="span12">
    <div class="inner">
      <% if results_found? %>
        <% if @type.present? %>
          <%= search_results(@results.select { |result| result[0].class.name.demodulize == @type }.flatten) %>
        <% else %>
          <%= search_results(@results.first) %>
        <% end %>
      <% else %>
         <h4>No Results Found</h4>
      <% end %>
    </div>
  </div>

